li {
    font-size: 18px;
    padding: 5px;
    margin: 10px;
}
.f-oswalddemibold {
    font-family: 'oswalddemibold';
}
.f-oswaldextralight {
    font-family: 'oswaldextralight';
}
.f-oswaldlight {
    font-family: 'oswaldlight';
}
.f-oswald_regularregular {
    font-family: 'oswald_regularregular';
}
.f-open_sansbold {
    font-family: 'open_sansbold';
}
.f-open_sanslight {
    font-family: 'open_sanslight';
}
.f-open_sansregular {
    font-family: 'open_sansregular';
}
.f-great_vibesregular {
    font-family: 'great_vibesregular';
    font-size: 28px;
}
.f-latobold {
    font-family: 'latobold';
}
.f-latolight {
    font-family: 'latolight';
}
.f-latoregular {
    font-family: 'latoregular';
}
.f-metropolisextra_light {
    font-family: 'metropolisextra_light';
}
.f-metropolisregular {
    font-family: 'metropolisregular';
}
.f-metropolissemi_bold {
    font-family: 'metropolissemi_bold';
}
.f-montserratlight {
    font-family: 'montserratlight';
}
.f-montserratsemibold {
    font-family: 'montserratsemibold';
}